html(lang=locale)
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
  body
    style= cssStyles.replace(/\"/gi, '\'')
    .container
      .row
        .col
          hr
          h4= message.title
          hr
      .row
        .col
          each fragment in message.contactData
            p= fragment
      .row
        .col
          h6= message.content[0]
          code= message.content[1]
      .row
        .col
          hr
          p.fst-italic.text-muted
            small= message.footer
